
!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="utf-8">
    <title>新闻搜索引擎</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="提供多个站点新闻聚合搜索">
    <meta http-equiv="pragma"   content="no-cache" />
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<title>{{ data.title }}</title>
<meta name="Keywords" content=""/>

<meta name="image:背景图" content="/static/preview/background.jpg" />
<meta name="if:平铺背景" content=""/>
<meta name="group1:" content="内容宽度800px#内容宽度500px|内容宽度600px|内容宽度700px|内容宽度800px|内容宽度900px|内容宽度1000px"/>
<meta name="color:背景" content="#EEAE93"/>
<meta name="color:标题" content="#fff"/>

<link type="text/css" rel="stylesheet" href="/static/preview/1.css?13"/>
<style>

.bg{-webkit-background-size:100% 100%;background-image:url(/static/preview/background.jpg);}

.bg{background-color:#EEAE93;}
.u-tit a{color:#fff;}
.m-nav a{color:#fff;}
.u-about{color:#fff;}

.g-box{width:800px;}

</style>
</head>

<body>
<div class="bg"></div>
<div class="p-bd">
<div class="g-hd">
	<div class="g-box">
    	<h1 class="u-tit"><a href="/">News.So 镜像</a></h1>
        <div class="u-about"></div>
    </div>
</div>
<div class="g-mn" style="padding:0 0 20px">
	<div class="g-box f-cb">

        <div class="m-posts">
            <h1 style="font-size: 34px"><b>{{ data.title }}</b></h1>
            <div style="margin:30px 0 40px">
                	<span>媒体：{{ data.media_name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>时间：{{ data.time }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>评论数：{{ data.review_num}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ data.url }}">原网页链接：{{ data.url }}</a>
            </div>
        	<div class="m-post m-post-text">
            	<div class="cont ">


                    <div class="text f-cb">
                    <p>{{ data.content }}</p>
                    </div>

                </div>
                <div class="subinfo">
                </div>

            </div>

        </div>
        <div class="m-subinfo1">
            <div >以下是推荐新闻：</div>
                <ul class="list">

                </ul>
        </div>
    	<div class="m-subinfo2">
        	<div class="nctitle">评论</div>
            <div class="comment-color">评论色彩分析：<b><span></span></b></div>
            <ul class="list">

            </ul>
       </div>


    </div>
</div>

</div>

<script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.js') }}"></script>

<link media='screen' type='text/css' rel='stylesheet' href='/static/preview/pagephotoshow.min.css'/>
<script type='text/javascript' src='/static/preview/pagephotoshow.min.js'></script>
<script type='text/javascript'>P('loft.w.g').initPagePhotoShow(document.body,{});</script>
<script type='text/javascript'>window.pagewidget=true;</script>

{#<script src="/static/preview/themecommon.js?0027" type="text/javascript"></script>#}
{#<script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-31007899-1'],['_setLocalGifPath', '/UA-31007899-1/__utm.gif'],['_setLocalRemoteServerMode']);_gaq.push(['_setDomainName', 'lofter.com']);_gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = 'http://wr.da.netease.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>#}
<script>
    (function () {
        $.getJSON("/news/review?id={{ data.id }}", function (data) {
            review = data.review;
            emotions = data.emotions;
            console.info(data);
            if (emotions > 0.5)
            {
                $('.m-subinfo2 .comment-color b span').text('评论显得更积极，分数为'+ emotions);
            }
            else {
                $('.comment-color span').text('评论显得更消极，分数为'+ emotions);

            }
            review.forEach(function (e){
                var node = "<li>" + e.user_name + ": "+ e.content + "  " + e.time + " " + "点赞数：" + e.agree + " 情感色彩：";
                if(e.emotion == 0)
                    node += "积极";
                else {
                    node += "消极";
                }
                $('.m-subinfo2 .list').append(node);

            })
        });
        $.getJSON("/suggnew/recommend_news?source_id={{ data.news_id }}", function (data) {
            content = data.content;
            content.forEach(function (e) {
                var node = "<li><a href=" + e.fake_url + "><b>" + e.title + "</b></a></li>"
                $('.m-subinfo1 .list').append(node)
            })
        })
    })()
</script>
</body>

</html>