body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font-family: arial, 'pingfang sc', stheiti, "microsoft yahei", sans-serif;
    font-size: 13px
}

html {
    overflow-y: scroll
}

fieldset,
img {
    border: 0;
    vertical-align: top
}

ol,
ul {
    list-style: none
}

address,
em {
    font-style: normal
}

a {
    text-decoration: none;
    outline: 0
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden
}

body,
html {
    height: 100%
}

body {
    background: #fff;
    position: relative;
    zoom: 1;
    min-width: 1000px;
    height: 100%;
    word-break: break-all;
    word-wrap: break-word
}

.wrapper {
    height: 100%;
    min-height: 517px;
    position: relative;
    z-index: 10
}

.wrapper.join-on {
    min-height: 835px
}

.clear {
    clear: both
}

.pos-more {
    display: none;
    position: absolute;
    border: 1px solid #eee;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    text-align: center;
    line-height: 28px;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}

.pos-more a {
    display: block;
    -webkit-transition: none 0s;
    -moz-transition: none 0s;
    transition: none 0s
}

.pos-more .ico-san {
    width: 10px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 29px;
    background: url(../images/ico_spy.png) 0 -295px no-repeat
}

.header {
    line-height: 24px;
    padding: 11px 0;
    height: 24px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1000px;
    z-index: 2001
}

.top-nav {
    float: left
}

.top-nav li {
    float: left;
    margin-left: 20px
}

.top-nav li a {
    color: rgba(0, 0, 0, .75);
    display: block;
    position: relative;
    color: #666\9;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.top-nav li a .nav-new {
    background: url(../images/ico_new.png) 0 0 no-repeat;
    width: 13px;
    height: 15px;
    position: absolute;
    background-image: -webkit-image-set(url(../images/ico_spy_mac.png) 2x, url(../images/ico_new.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy_mac.png) 2x, url(../images/ico_new.png) 1x);
    left: 25px;
    top: -7px;
    *top: -11px;
    border: 0 !important
}

.top-nav li a .nav-beta {
    background: url(../images/ico_beta.png) 0 0 no-repeat;
    width: 23px;
    height: 15px;
    position: absolute;
    background-image: -webkit-image-set(url(../images/ico_beta2x.png) 2x, url(../images/ico_beta.png) 1x);
    background-image: -moz-image-set(url(../images/ico_beta2x.png) 2x, url(../images/ico_beta.png) 1x);
    left: 25px;
    top: -7px;
    *top: -11px;
    border: 0 !important
}

.top-nav li a:hover {
    color: #ff5a34;
    text-decoration: none
}

.top-nav li.cur span {
    color: #ff5a34;
    font-weight: 700;
    display: block
}

.top-nav li.show-more {
    position: relative
}

.top-nav li.show-more a {
    padding-right: 10px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.top-nav li.show-more a:hover {
    color: #ff5a34
}

.top-nav li.show-more a i {
    width: 0;
    height: 0;
    border-left: 4px dashed transparent;
    border-top: 4px solid #666;
    border-right: 4px dashed transparent;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    _top: 4px;
    transition: all .25s;
    vertical-align: top;
    font-size: 0;
    line-height: 0
}

.top-nav li.show-more a:hover i {
    border-top: 4px solid #ff5a34;
    border-top: 0\9;
    border-bottom: 4px solid #ff5a34\9
}

.top-nav li.show-more .m-arr i {
    transform: rotate(180deg)
}

.top-nav li.show-more .pos-more {
    position: absolute;
    width: 60px;
    left: -18px;
    top: 27px
}

.top-nav li.show-more .pos-more a {
    background: 0;
    padding: 0;
    line-height: 29px;
    float: left;
    width: 100%;
    -webkit-transition: none .25s;
    -moz-transition: none .25s;
    transition: none .25s
}

.white-skin {
    background: #e4e4e4
}

.white-skin .top-nav li.show-more .pos-more a {
    color: #333
}

.top-nav li.show-more .pos-more a:hover {
    background: #fd6853;
    color: #fff
}

.top-nav li.show-more .pos-more .all {
    border-top: 1px solid #f2f2f2;
    font-weight: 400
}

.top-nav li.show-more .pos-more .all a {
    background: url(../images/ico_spy.png) 32px -317px no-repeat
}

.top-nav li.show-more .pos-more .all a:hover {
    background: #fd6853 url(../images/ico_spy.png) 32px -367px no-repeat
}

.top-nav li.show-more .pos-more .ico-san {
    width: 10px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 26px;
    background: url(../images/ico_spy.png) 0 -295px no-repeat
}

.white-skin .header {
    background: url(../images/bg_white.png) 0 0 repeat
}

.user-box {
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 15;
    font-size: 12px
}

.local-weather {
    float: left;
    position: relative
}

.local-weather .wea-box {
    display: none;
    cursor: pointer
}

.local-weather .c6 {
    font-size: 12px;
    color: rgba(0, 0, 0, .75);
    color: #666\9;
    *float: left
}

.local-weather i {
    margin: 0 8px;
    position: relative;
    top: 3px;
    *float: left
}

.local-weather .pj-w {
    margin-left: 8px;
    font-weight: 700
}

.user-box .line {
    float: left;
    width: 1px;
    height: 14px;
    overflow: hidden;
    background: #e7e7e7;
    margin: 5px 20px 0;
    clear: none;
    border: 0
}

.user-enter {
    float: left
}

.user-enter .s-dw {
    position: relative;
    display: inline-block
}

.user-enter a {
    color: rgba(0, 0, 0, .75);
    margin-right: 17px;
    display: inline-block;
    color: #666\9;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.user-enter a:hover {
    text-decoration: none;
    color: #ff5a34
}

.user-enter .enter {
    display: inline-block;
    border-radius: 2px;
    background: #fd6853;
    color: #fff;
    padding: 0 10px;
    margin-right: 20px
}

.user-enter .enter:hover {
    color: #fff;
    background: #ff5a42;
    -moz-box-shadow: 0 2px 4px rgba(255, 90, 66, .5);
    -webkit-box-shadow: 0 2px 4px rgba(255, 90, 66, .5);
    box-shadow: 0 2px 4px rgba(255, 90, 66, .5)
}

.user-enter .enter:active {
    background: #f25440;
    box-shadow: none !important
}

.user-enter .settings {
    margin-right: 18px;
    width: 19px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    overflow: hidden;
    vertical-align: top;
    background: url(../images/ico_spy.png) -3px -433px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x)
}

.user-enter .settings i {
    color: #999;
    font-size: 17px;
    float: left;
    margin-top: -3px
}

.user-enter .settings:hover i {
    color: #666
}

.user-enter .tx {
    display: inline-block;
    margin-right: 6px;
    position: relative;
    vertical-align: top;
    margin-bottom: -2px
}

.user-enter .tx img {
    border: 2px solid #fff;
    border-radius: 14px;
    margin: -2px 0 0 -2px;
    position: relative;
    z-index: 1
}

.user-enter .tx .iconfont {
    font-size: 17px;
    position: absolute;
    right: -8px;
    top: 0;
    color: #999
}

.content {
    height: 37%;
    min-height: 207px;
    position: relative
}

.content .logo {
    height: 100%;
    min-height: 181px;
    position: relative
}

.content .logo2 {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: -10000px
}

.content .logo2 span {
    display: inline-block
}

.content .logo span {
    position: absolute;
    left: 50%;
    margin-left: -220px;
    bottom: 0;
    transition: opacity .2s ease;
    opacity: 1;
    width: 440px;
    height: 140px;
    background: url(../images/bird.jpg) 0 0 no-repeat;
    background-image: -webkit-image-set(url(../images/bird.jpg) 2x, url(../images/bird.jpg) 1x);
    background-image: -moz-image-set(url(../images/bird.jpg) 2x, url(../images/bird.jpg) 1x)
}

.white-skin .content .logo span {
    background: url(../images/logo_440x140_white.v.1.png) 0 0 no-repeat;
    background-image: -webkit-image-set(url(../images/logo_880x280_white.v.1.png) 2x, url(../images/logo_440x140_white.v.1.png) 1x);
    background-image: -moz-image-set(url(../images/logo_880x280_white.v.1.png) 2x, url(../images/logo_440x140_white.v.1.png) 1x)
}

.join-on .content {
    height: 38.2%;
    min-height: 293px;
    position: relative;
    z-index: 3
}

.join-on .content .logo {
    height: 70%;
    min-height: 181px;
    position: relative
}

.content .door {
    position: absolute;
    bottom: 108px;
    left: 50%;
    margin: 0 0 0 268px
}

.content .door a {
    display: inline-block;
    width: 24px;
    height: 24px
}

.search-box {
    margin: 0 auto;
    width: 624px;
    position: relative
}

.search-box .sec-input,
.white-skin .fixed .search-box .sec-input {
    padding: 10px;
    width: 529px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid #ddd\9;
    font-size: 16px;
    color: #333;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-right: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    position: relative;
    z-index: 3;
    -webkit-appearance: none;
    position: relative
}

.search-box .sec-input-box {
    display: block
}

.search-box .sec-input-box .sec-input.hover,
.white-skin .fixed .search-box .sec-input.hover {
    border: 1px solid rgba(0, 0, 0, .4);
    border: 1px solid #999\9;
    border-right: 0
}

.white-skin .search-box .sec-input.hover {
    border: 1px solid #fff;
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1)
}

.search-box .sec-input-box .sec-input.active,
.white-skin .fixed .search-box .sec-input.active {
    border: 1px solid #fd6853;
    border: 1px solid #fd6853\9;
    border-right: 0
}

.search-box .enter-input {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3
}

.search-box .enter-input input {
    width: 74px;
    height: 44px;
    border: 0;
    outline: 0;
    box-shadow: none;
    background: #fd6853;
    vertical-align: top;
    cursor: pointer;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
    line-height: 44px;
    text-align: center;
    font-size: 33px;
    color: #fff;
    background: #fd6853 url(../images/ico_spy.png) 29px -9px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s
}

.search-box .enter-input input:hover {
    background-color: #ff5943;
    -moz-box-shadow: 0 2px 4px rgba(229, 94, 66, .4);
    -webkit-box-shadow: 0 2px 4px rgba(229, 94, 66, .4);
    box-shadow: 0 2px 4px rgba(229, 94, 66, .4)
}

.search-box .enter-input input:active {
    background-color: #f25440;
    box-shadow: none !important
}

.card-box {
    min-width: 1000px;
    width: 100%;
    margin: 0 auto
}

.card-box2 {
    width: 892px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    background: rgba(255, 255, 255, .97);
    background: #fff\9;
    -moz-box-shadow: 0 2px 6px rgba(239, 239, 239, .5);
    -webkit-box-shadow: 0 2px 6px rgba(239, 239, 239, .5);
    box-shadow: 0 2px 6px rgba(239, 239, 239, .5);
    overflow: hidden;
    zoom: 1;
    height: 398px;
    position: relative
}

.show-all {
    height: auto
}

.card-box2 a:hover {
    color: #ff5a34 !important
}

.c-top {
    line-height: 40px;
    font-size: 14px;
    padding-left: 3px;
    border-bottom: 1px solid #eee;
    position: relative;
    height: 40px;
    z-index: 1
}

.c-top span {
    color: #666;
    padding: 0 4px;
    display: inline-block;
    margin: 0 17px;
    cursor: pointer;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.c-top span:hover {
    text-decoration: none;
    color: #ff5a34
}

.c-top .cur {
    border-bottom: 2px solid #fd6853;
    position: relative;
    line-height: 40px;
    height: 39px;
    vertical-align: top;
    margin-bottom: -1px;
    color: #333;
    font-weight: 700
}

.c-top .shezhi {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 20px;
    background: url(../images/ico_spy.png) 0 -89px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    margin: 0;
    padding: 0
}

.c-top .shezhi:hover {
    background: url(../images/ico_spy.png) 0 -233px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x)
}

.c-main {
    overflow: hidden;
    zoom: 1;
    min-height: 345px;
    padding-bottom: 15px
}

.c-main-left {
    width: 538px;
    float: left;
    padding-left: 24px
}

.news-list {
    margin-bottom: -1px;
    overflow: hidden
}

.news-list li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    zoom: 1;
    padding: 20px 0 16px
}

.news-list li .img-box {
    float: right;
    margin-left: 10px;
    margin-bottom: 4px
}

.news-list li .img-box a {
    display: block;
    width: 176px;
    height: 106px;
    overflow: hidden
}

.news-list li .info-box {
    overflow: hidden;
    zoom: 1;
    height: 100%
}

.news-list li .info-box h2 {
    font-size: 18px;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden
}

.news-list li .info-box h2 a {
    color: #333;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.news-list li .info-box h2 a:visited {
    color: #999
}

.news-list li .info-box h2 i {
    font-size: 11px;
    font-style: italic;
    line-height: 16px;
    padding: 0 3px;
    background: #f1503f;
    vertical-align: top;
    color: #fff;
    margin: 3px 5px 0 0;
    display: inline-block;
    font-style: normal
}

.news-list li .info-box .time {
    font-size: 12px;
    color: #999;
    position: relative;
    line-height: 18px;
    margin-top: 10px
}

.news-list li .info-box .time span {
    margin-right: 10px
}

.news-list li .info-box .time a {
    line-height: 16px;
    padding: 0 3px;
    display: inline-block;
    color: #999;
    border: 1px solid #e5e5e5;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s
}

.news-list li .info-box .time a:hover {
    border: 1px solid #fd6853;
    color: #ff5a34
}

.news-list li.b-img .info-box .time {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.news-list li.b-img .info-box {
    height: 106px;
    position: relative
}

.news-list li .img-box2 {
    padding-top: 13px;
    margin-left: -5px;
    overflow: hidden;
    zoom: 1;
    padding-bottom: 3px
}

.news-list li .img-box2 a {
    float: left;
    margin-left: 5px;
    width: 176px;
    height: 106px;
    background: url(../images/bg_zhanwei.gif) 0 0 no-repeat;
    overflow: hidden
}

.c-main-right {
    width: 280px;
    float: right;
    padding-right: 14px
}

.r-tit {
    font-size: 15px;
    font-weight: 700;
    position: relative;
    line-height: 20px;
    padding: 21px 0 0 0
}

.r-tit a,
.r-tit span {
    color: #666
}

.r-tit a span {
    font-size: 14px;
    font-family: sans-serif
}

.r-tit a:hover span {
    color: #ff5a34
}

.r-tit .change-hot {
    font-size: 13px;
    color: #999;
    font-weight: 400;
    position: absolute;
    right: 14px;
    top: 21px;
    padding-left: 18px;
    background: url(../images/ico_spy.png) -6px -124px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x)
}

.r-tit .change-hot:hover {
    background: url(../images/ico_spy.png) -6px -478px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy2x.png) 2x, url(../images/ico_spy.png) 1x)
}

.r-tit .change-hot i {
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    position: absolute
}

.hot-list {
    overflow: hidden;
    zoom: 1;
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
    margin-bottom: -3px
}

.hot-list li {
    width: 130px;
    float: left;
    margin-right: 10px;
    padding-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal
}

.hot-list li a {
    color: #666;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.hot-list li a .new {
    background: url(../images/ico_spy.png) -6px -161px no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 1px
}

.more-fuwu {
    line-height: 20px;
    padding-top: 7px
}

.more-fuwu a {
    color: #666;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.more-fuwu .line {
    width: 1px;
    height: 14px;
    background: #e5e5e5;
    overflow: hidden;
    display: inline-block;
    margin: 0 16px;
    position: relative;
    top: 2px;
    border: 0
}

.ft {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    color: #999\9;
    line-height: 22px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    overflow: hidden;
    min-width: 1000px
}

.pos-sta {
    position: static;
    margin: 15px 0
}

.ft a {
    color: rgba(0, 0, 0, .6);
    color: #666\9
}

.ft a:hover {
    color: rgba(0, 0, 0, .9);
    color: #333\9;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    transition: color .2s
}

.ft .g {
    color: rgba(0, 0, 0, .4);
    margin: 0;
    color: #999\9
}

.ft .g:hover {
    color: rgba(0, 0, 0, .6);
    color: #666\9
}

.ft .ba {
    padding-right: 14px;
    background: url(../images/wangan.png) 100% 4px no-repeat;
    display: inline-block;
    color: rgba(0, 0, 0, .4);
    color: #999\9;
    text-decoration: none
}

.ft .ba:hover {
    color: rgba(0, 0, 0, .6);
    color: #666\9
}

.ft .line {
    width: 1px;
    height: 12px;
    display: inline-block;
    overflow: hidden;
    background: #e5e5e5;
    margin: 0 10px;
    position: relative;
    top: 2px;
    border: 0
}

.kuozhan {
    position: absolute;
    width: 46px;
    height: 74px;
    bottom: 10px;
    right: 10px;
    z-index: 2
}

.join-on .kuozhan {
    position: fixed
}

.kuozhan a {
    background: url(../images/btn_card.png) 0 0 no-repeat;
    height: 74px;
    display: block;
    background-image: -webkit-image-set(url(../images/btn_card2x.png) 2x, url(../images/btn_card.png) 1x);
    background-image: -moz-image-set(url(../images/btn_card2x.png) 2x, url(../images/btn_card.png) 1x)
}

.kuozhan a:hover {
    background: url(../images/btn_card.png) 0 -74px no-repeat;
    background-image: -webkit-image-set(url(../images/btn_card2x.png) 2x, url(../images/btn_card.png) 1x);
    background-image: -moz-image-set(url(../images/btn_card2x.png) 2x, url(../images/btn_card.png) 1x)
}

.kuozhan span {
    display: none;
    background: url(../images/ico_erwm.png) 0 0 no-repeat;
    width: 85px;
    height: 82px;
    position: absolute;
    top: -4px;
    right: 50px;
    background-image: -webkit-image-set(url(../images/ico_erwm2.png) 2x, url(../images/ico_erwm.png) 1x);
    background-image: -moz-image-set(url(../images/ico_erwm2.png) 2x, url(../images/ico_erwm.png) 1x)
}

.kuozhandl {
    right: auto;
    left: 50%;
    margin-left: 455px;
    bottom: 20px
}

.back-top {
    display: none;
    position: fixed;
    width: 46px;
    height: 46px;
    left: 50%;
    margin-left: 455px;
    bottom: 100px;
    background: url(../images/back_top.png) 0 0 no-repeat;
    background-image: -webkit-image-set(url(../images/back_top_big.png) 2x, url(../images/back_top.png) 1x);
    background-image: -moz-image-set(url(../images/back_top_big.png) 2x, url(../images/back_top.png) 1x)
}

.back-top:hover {
    background-position: 0 -47px;
    background-image: -webkit-image-set(url(../images/back_top_big.png) 2x, url(../images/back_top.png) 1x);
    background-image: -moz-image-set(url(../images/back_top_big.png) 2x, url(../images/back_top.png) 1x)
}

.loog-more {
    text-align: center;
    line-height: 20px;
    padding-bottom: 14px
}

.loog-more a {
    color: rgba(0, 0, 0, .4);
    padding: 16px 0 0;
    display: inline-block;
    width: 90px;
    color: #666\9
}

.loog-more .ico_san {
    font-size: 30px;
    width: 28px;
    height: 16px;
    display: inline-block;
    margin-top: 5px;
    background: url(../images/ico_spy2.png) 0 0 no-repeat
}

.loog-more a:hover {
    text-decoration: none
}

.pos-header {
    position: fixed;
    height: 114px;
    width: 100%;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 6;
    display: none
}

.part-one {
    height: 72px;
    background: rgba(255, 255, 255, .97);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 1;
    background: #fff\9;
    border-bottom: 1px solid #eee\9
}

.part-two {
    height: 40px;
    background: rgba(255, 255, 255, .97);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background: #fff\9;
    border-bottom: 1px solid #eee\9
}

.part-two .c-top {
    width: 889px;
    margin: 0 auto;
    padding: 0 54px 0 57px
}

.fixed .pos-header {
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    transition: opacity .2s ease;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    z-index: 3;
    display: block
}

.content.fixed .logo img {
    transition: opacity .2s ease;
    opacity: 0
}

.fixed .search-box {
    position: fixed;
    z-index: 4;
    left: 50%;
    margin-left: -265px;
    top: 14px
}

.content.fixed .logo2 {
    position: fixed;
    left: 50%;
    top: 7px;
    margin-left: -423px;
    z-index: 3;
    opacity: 1
}

.card-box-fix .c-main-right {
    position: fixed;
    top: 109px;
    left: 50%;
    margin-left: 152px
}

.skin-bg {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    zoom: 1;
    left: 0;
    z-index: -1;
    overflow: hidden
}

.white-skin .local-weather .c6,
.white-skin .local-weather .pj-w,
.white-skin .loog-more a,
.white-skin .top-nav li a,
.white-skin .user-enter a {
    color: rgba(255, 255, 255, .9);
    color: #eee\9
}

.white-skin .top-nav li a:hover,
.white-skin .user-enter a:hover {
    color: #fff
}

.white-skin .user-enter .settings {
    background: url(../images/ico_spy_white.png) -3px -216px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy_white2x.png) 2x, url(../images/ico_spy_white.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy_white2x.png) 2x, url(../images/ico_spy_white.png) 1x)
}

.white-skin .user-enter .settings:hover {
    background: url(../images/ico_spy_white.png) -3px -60px no-repeat;
    background-image: -webkit-image-set(url(../images/ico_spy_white2x.png) 2x, url(../images/ico_spy_white.png) 1x);
    background-image: -moz-image-set(url(../images/ico_spy_white2x.png) 2x, url(../images/ico_spy_white.png) 1x)
}

.white-skin .ft .line,
.white-skin .user-box .line {
    background: rgba(255, 255, 255, .2)
}

.white-skin .top-nav li.cur span {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    border-bottom: 2px solid #ccc\9
}

.white-skin .user-enter .tx img {
    border: 2px solid transparent
}

.white-skin .card-box2 {
    border: 0;
    box-shadow: none;
    background: #fff\9
}

.white-skin .ft a {
    color: rgba(255, 255, 255, .7);
    color: #ccc\9
}

.white-skin .ft a:hover {
    color: rgba(255, 255, 255, .9);
    color: #fff\9
}

.white-skin .ft,
.white-skin .ft .ba,
.white-skin .ft .g {
    color: rgba(255, 255, 255, .5);
    color: #aaa\9
}

.white-skin .ft .ba:hover,
.white-skin .ft .g:hover {
    color: rgba(255, 255, 255, .7);
    color: #ccc\9
}

.white-skin .top-nav li.show-more a i {
    border-top: 4px solid #999
}

.white-skin .search-box .sec-input {
    border: 1px solid #fff;
    border: 1px solid #fff\9
}

.white-skin .top-nav li.show-more a:hover {
    color: #fff
}

.white-skin .top-nav li.show-more a:hover i {
    border-top: 4px solid #fff;
    border-top: 0\9;
    border-bottom: 4px solid #fff\9
}

.white-skin .loog-more .ico_san {
    background: url(../images/ico_spy2_white.png) 0 0 no-repeat
}

.white-skin .user-enter .tx img {
    border: 2px solid transparent
}

.loading-box {
    text-align: center;
    color: #666;
    font-size: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    line-height: 20px
}

.loading-box i {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top
}

.loading-box .loading-gif {
    background: url(../images/loading.gif) 0 0 no-repeat
}

.loading-box .loading-err {
    background: url(../images/ico_spy.png) 0 -199px no-repeat
}

.loading-box a {
    color: #ff5a34
}

.loading-box a:hover {
    color: #f92f00;
    text-decoration: none
}

.dh-tit {
    font-size: 14px;
    color: #666;
    font-weight: 700;
    padding: 20px 25px 0;
    line-height: 20px;
    clear: both
}

.dh-list {
    zoom: 1;
    padding-left: 13px
}

.dh-list li {
    width: 130px;
    float: left;
    margin-left: 12px;
    margin-top: 12px
}

.dh-list li a {
    display: block;
    height: 43px;
    padding: 0 7px;
    text-align: center;
    line-height: 16px;
    padding-top: 29px;
    color: #666;
    background: #fbfbfb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    border: 1px solid #fbfbfb;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
    transition: background .25s
}

.dh-list li a:hover {
    border: 1px solid #f2f2f2;
    background: #fff;
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1)
}

.dh-list li img {
    margin: 0 5px 0 0;
    position: relative;
    top: -1px
}

.user-enter .pos-more {
    position: absolute;
    left: -24px;
    top: 30px;
    width: 70px
}

.user-enter .pos-more a {
    display: block;
    margin: 0;
    text-align: left;
    padding-left: 11px;
    -webkit-transition: none .25s;
    -moz-transition: none .25s;
    transition: none .25s
}

.user-enter .pos-more a:hover {
    color: #fff;
    background: #fd6853
}

.c-top .pos-more {
    width: 68px;
    position: absolute;
    right: 15px;
    top: 36px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.c-top .pos-more a {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    color: #666
}

.c-top .pos-more a:hover {
    background: #fff;
    color: #ff5a34;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.c-top .pos-more .ico-san {
    left: 31px
}

.local-weather .pos-more {
    width: 240px;
    left: -52px;
    top: 27px
}

.local-weather .pos-more .ico-san {
    left: 115px
}

.weather-pos {
    background-color: #fff;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    transition: background-color .25s
}

.weather-pos:hover {
    background-color: #fff
}

.weather-pos .riqi {
    position: relative;
    line-height: 20px;
    padding: 0 10px;
    color: #666;
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 25px
}

.weather-pos .riqi .adree {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
    background: 0;
    padding-right: 10px
}

.weather-pos .riqi .adree i {
    width: 0;
    height: 0;
    border-left: 4px dashed transparent;
    border-top: 4px solid #999;
    border-right: 4px dashed transparent;
    position: absolute;
    right: 0;
    top: 9px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    font-size: 0;
    line-height: 0
}

.weather-pos .riqi .adree:hover i {
    border-top: 4px solid #666
}

.weather-pos .riqi.zhankai {
    margin-bottom: 13px;
    z-index: 20
}

.weather-pos .riqi.zhankai .adree i {
    border-top: 4px dashed transparent;
    border-bottom: 4px solid #999;
    top: 4px
}

.weather-pos .riqi.zhankai .adree:hover i {
    border-bottom: 4px solid #666;
    border-top: 4px dashed transparent
}

.weather-pos .riqi .adree:hover {
    color: #666;
    background: 0
}

.weather-pos .riqi .adree span {
    font-family: sans-serif;
    margin-left: 3px
}

.weather-pos .riqi .shaixuan {
    display: none;
    height: 22px;
    _height: 30px;
    zoom: 1;
    position: relative;
    z-index: 10;
    padding-top: 6px
}

.weather-pos .riqi .shaixuan .part1 {
    width: 84px;
    float: left;
    margin-right: 5px;
    position: relative
}

.weather-pos .riqi .shaixuan .part1 select {
    border: 1px solid #ddd;
    width: 100%;
    outline: 0;
    color: #333;
    height: 22px
}

.weather-pos .riqi .shaixuan .part2 {
    width: 42px;
    float: left;
    *margin-top: 2px
}

.weather-pos .riqi .shaixuan .part2 a {
    width: 40px;
    line-height: 20px;
    text-align: center;
    color: #333;
    border: 1px solid #b8b8b8;
    background: #f9f9f9;
    border-radius: 2px
}

.weather-pos .riqi .shaixuan .part2 a:hover {
    background: #f2f2f2
}

.weather-pos .riqi.zhankai .shaixuan {
    display: block
}

.wd-info {
    padding-bottom: 24px;
    min-height: 79px;
    display: block
}

.wd-info .s1 {
    display: inline-block;
    vertical-align: top;
    font-size: 56px;
    color: #333;
    line-height: 56px;
    position: relative;
    padding-right: 20px;
    *width: 90px;
    *text-align: center;
    *float: left;
    margin-left: 20px
}

.wd-info .s1 .sheshi {
    display: inline;
    font-size: 46px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 8px
}

.wd-info .s1 span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px
}

.local-weather .level1 {
    color: #61bd82
}

.local-weather .level2 {
    color: #f1b500
}

.local-weather .level3 {
    color: #fe801f
}

.local-weather .level4 {
    color: #f63030
}

.local-weather .level5 {
    color: #a00388
}

.local-weather .level6 {
    color: #af0036
}

.wd-info .s2 {
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    padding-top: 2px;
    text-align: left;
    padding-left: 5px;
    *width: 80px;
    *float: left
}

.wd-info .s2 .p1 {
    color: #333;
    font-size: 16px
}

.wd-info .s2 .p2 {
    color: #999;
    font-size: 12px;
    margin-top: -1px
}

.other-day {
    overflow: hidden;
    zoom: 1;
    border-top: 1px solid #eee
}

.other-day li {
    width: 80px;
    float: left
}

.other-day li a {
    font-size: 12px;
    color: #666;
    line-height: 29px;
    padding: 14px 0 11px
}

.other-day li a:hover {
    color: #666;
    background: 0
}

.index-login-v1 {
    height: 36px;
    margin-bottom: 15px;
    padding-top: 3px;
    font-family: Microsoft YaHei;
    background-color: #fff;
    zoom: 1;
    z-index: 10;
    position: relative;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1)
}

.skin-box2 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5
}

.index-login-v1:after {
    clear: both;
    content: '';
    display: block
}

.index-login-v1 a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: normal
}

.top-rt {
    float: right;
    position: relative
}

.index-menu {
    float: left;
    list-style-type: none
}

.index-menu li {
    float: left;
    line-height: 32px;
    height: 34px;
    padding: 2px 7px 0 7px
}

.index-menu a {
    color: #666;
    font-size: 14px;
    padding: 0 3px 2px;
    height: 32px;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    transition: color .25s
}

.index-menu a:hover {
    color: #333
}

.index-menu .cur a {
    padding: 0 3px;
    border-bottom: 2px solid #ee4035;
    color: #ee4035
}

.skin-form {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 140px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    background: url(../images/black-skin.png) 0 0 no-repeat;
    font-family: Microsoft YaHei;
    z-index: 2;
    display: none;
    color: #fff
}

.skin-box li a:hover .skin-form {
    display: block
}

.alr-skin {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/pop-skin.png) repeat;
    min-width: 1440px;
    z-index: 25;
    border-bottom: 1px solid #efefef;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.skin-pop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 61px;
    height: 133px;
    background: url(../images/pop-skin.png) repeat
}

.skin-box {
    width: 916px;
    margin: 0 auto;
    height: 133px;
    padding: 7px 42px 0;
    position: relative
}

.skin-box ul {
    list-style-type: none;
    width: 200%
}

.skin-box li {
    float: left;
    width: 142px;
    height: 92px;
    margin-right: 13px;
    position: relative
}

.skin-box li span {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: url(../images/ok.png) no-repeat;
    position: absolute;
    top: 1px;
    left: 1px;
    display: none
}

.skin-box .cur span {
    display: block
}

.skin-box li a {
    width: 140px;
    height: 90px;
    display: block;
    overflow: hidden;
    border: 1px solid #fff;
    -webkit-transition: border .25s;
    -moz-transition: border .25s;
    transition: border .25s
}

.skin-box li a:hover {
    border: 1px solid #ee4035
}

.skin-box .roll-list {
    width: 916px;
    overflow: hidden;
    height: 96px
}

.hide {
    position: absolute;
    width: 53px;
    height: 22px;
    background: url(../images/hide.png) no-repeat;
    display: block;
    bottom: 0;
    right: 42px
}

.roll-list .hide {
    display: none
}

.roll-list .show {
    display: block
}

.hide:hover {
    background-position: 0 -24px
}

.lt-rr,
.rt-rr {
    width: 42px;
    position: absolute;
    top: 0;
    height: 92px;
    display: block;
    z-index: 2;
    background: url(../images/rr-skin.png) 0 center no-repeat
}

.lt-rr {
    left: 0
}

.lt-rr:hover {
    background-position: -112px center
}

.rt-rr {
    right: 0;
    background-position: -30px center
}

.rt-rr:hover {
    background-position: -142px center
}

.skin-top {
    width: 916px;
    margin: 0 auto
}

.hide-skin {
    background: url(../images/skin.png) no-repeat
}

.hide-skin {
    line-height: 32px;
    display: inline-block;
    padding-top: 2px;
    font-size: 14px;
    color: #666;
    padding-left: 15px
}

.hide-skin {
    background-position: 0 14px
}

.hide-skin:hover {
    color: #333;
    background-position: 0 -26px
}

.white-skin .user-enter .pos-more a {
    color: #333
}

.white-skin .user-enter .pos-more a:hover {
    color: #fff;
    background: #fd6853
}

.white-skin .top-nav li.show-more .pos-more a:hover {
    background: #fd6853;
    color: #fff
}

.white-skin .top-nav li.show-more .pos-more .all a:hover {
    background: #fd6853 url(../images/ico_spy.png) 32px -367px no-repeat
}

.suglist li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal
}

.ft-v1 {
    font-size: 12px;
    color: #666;
    line-height: 22px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    overflow: hidden
}

.ft-v1 {
    overflow: hidden;
    zoom: 1;
    width: 630px;
    left: 50%;
    margin-left: -315px
}

.ft-v1 a {
    text-decoration: underline;
    margin: 0 4px 0 5px
}

.ft-v1 .g {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
    margin: 0
}

.ft-v1 .g:hover,
.ft-v12 .g:hover {
    text-decoration: underline
}

.ft-v1 .ba:hover {
    text-decoration: underline
}

.erwm-box {
    width: 166px;
    height: 62px;
    padding: 10px 0;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid #f2f2f2;
    position: relative;
    vertical-align: top;
    top: 1px;
    float: left
}

.erwm-box .erwx {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, .7);
    text-align: left;
    font-weight: 700;
    padding-top: 10px
}

.erwm-box .erwx .p2 {
    color: rgba(0, 0, 0, .5);
    color: #999\9;
    font-weight: 400;
    padding-top: 2px
}

.ft-info {
    display: inline-block;
    width: 444px;
    text-align: left;
    color: rgba(0, 0, 0, .5);
    color: #999\9;
    padding-left: 18px;
    position: relative;
    top: -4px;
    float: left
}

.ft-v1 .ft-info a {
    margin: 0;
    color: rgba(0, 0, 0, .7);
    color: #666\9;
    text-decoration: none;
    display: inline-block
}

.ft-v1 .ft-info a i {
    margin: 4px 5px 0 0;
    display: inline-block;
    position: relative;
    top: 2px;
    *top: 0;
    width: 13px;
    height: 14px;
    overflow: hidden;
    background-image: url(../images/ico_ft.gif?v=1);
    background-repeat: no-repeat;
    background-image: -webkit-image-set(url(../images/ico_ft2x.gif?v=1) 2x, url(../images/ico_ft.gif?v=1) 1x);
    background-image: -moz-image-set(url(../images/ico_ft2x.gif?v=1) 2x, url(../images/ico_ft.gif?v=1) 1x)
}

.ft-v1 .ft-info a .i1 {
    background-position: 0 0
}

.ft-v1 .ft-info a .i2 {
    background-position: 0 -29px
}

.ft-v1 .ft-info a .i3 {
    background-position: 0 -57px
}

.ft-v1 .ft-info a:hover {
    text-decoration: none !important;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    transition: color .2s
}

.ft-v1 .ft-info a:hover .i1 {
    background-position: 0 -15px
}

.ft-v1 .ft-info a:hover .i2 {
    background-position: 0 -43px
}

.ft-v1 .ft-info a:hover .i3 {
    background-position: 0 -71px
}

.ft-v1 .ft-info a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .9);
    color: #333\9
}

.ft-v1 .ft-info .ba,
.ft-v1 .ft-info .g {
    color: rgba(0, 0, 0, .5);
    color: #999\9
}

.ft-v1 .ft-info .line {
    width: 1px;
    height: 12px;
    overflow: hidden;
    background: #e4e4e4;
    border: 0;
    display: inline-block;
    margin: 5px 10px 0;
    *margin: 5px 10px 3px;
    position: relative;
    top: 2px
}

.big-scn .search-box {
    width: 656px
}

.big-scn .search-box .sec-input,
.big-scn .white-skin .fixed .search-box .sec-input {
    width: 561px
}

.content .logo2 span {
    vertical-align: top;
    width: 150px;
    height: 58px;
    background: url(../images/bird.jpg) 0 0 no-repeat;
    background-image: -webkit-image-set(url(../images/bird.jpg) 2x, url(../images/bird.jpg) 1x);
    background-image: -moz-image-set(url(../images/bird.jpg) 2x, url(../images/bird.jpg) 1x)
}

.user-enter .s-dw .pos-more {
    left: -22px;
    top: 30px
}

.nobg .suglist {
    width: 100% !important;
    _width: 100% !important
}

@media only screen and (min-width:1380px) {
    .search-box {
        width: 656px !important
    }
    .search-box .sec-input {
        width: 561px !important
    }
}

.search-box .yuyin-cur .sec-input,
.white-skin .fixed .search-box .yuyin-cur .sec-input {
    padding: 10px 40px 10px 10px;
    width: 499px
}

@media only screen and (min-width:1380px) {
    .search-box {
        width: 656px !important
    }
    .search-box .yuyin-cur .sec-input {
        width: 531px !important
    }
}

.gjss {
    background: #fbfbfb;
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    -moz-box-shadow: 2px 2px 3px #efefef;
    -webkit-box-shadow: 2px 2px 3px #efefef;
    box-shadow: 2px 2px 3px #efefef;
    font-family: arial, 'pingfang sc', stheiti, "microsoft yahei", sans-serif
}

.gjss a {
    text-decoration: none
}

.gjss input {
    font-family: arial, 'pingfang sc', stheiti, "microsoft yahei", sans-serif
}

.gjss-tab {
    padding: 20px 0 0 0;
    margin: 0 50px;
    position: relative;
    left: 0;
    font-size: 0;
    border-bottom: 1px solid #efefef;
    min-width: 300px
}

.gjss-tab .tab-a {
    width: 75px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    line-height: 34px;
    text-align: center;
    margin-right: 13px
}

.gjss-tab .tab-a.cur {
    border-bottom: 2px solid #f1503f;
    color: #333;
    margin-bottom: -2px
}

.gjss-tab .close-btn {
    position: absolute;
    background: url(../images/ico_gjss.png) 7px 6px no-repeat;
    width: 34px;
    height: 34px;
    right: 0;
    top: 10px
}

.gjss-tab .close-btn:hover {
    background: url(../images/ico_gjss.png) 7px -56px no-repeat
}

.gjss-main {
    padding-left: 163px;
    min-width: 800px;
    *width: 800px
}

.gjss-sz {
    position: relative;
    padding-top: 28px;
    padding-bottom: 25px
}

.gjss-sz dl {
    font-size: 0;
    line-height: 0;
    padding-top: 6px
}

.gjss-sz dt {
    display: inline-block;
    width: 135px;
    padding-right: 20px;
    text-align: right;
    line-height: 36px;
    font-size: 14px;
    *float: left
}

.gjss-sz dd {
    display: inline-block;
    width: 550px;
    font-size: 14px;
    vertical-align: top;
    position: relative
}

.gjss-sz dd a {
    color: #333
}

.gjss-sz dd .xz {
    _width: 302px;
    padding: 0 13px;
    line-height: 34px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff url(../images/ico_gjss.png) 302px -103px no-repeat
}

.gjss-sz dd .xz:hover {
    border: 1px solid #ccc;
    -moz-box-shadow: 2px 2px 3px #efefef;
    -webkit-box-shadow: 2px 2px 3px #efefef;
    box-shadow: 2px 2px 3px #efefef
}

.gjss-sz dd .xz:active {
    background-color: #f3f3f3
}

.gjss-sz dd.open-ul {
    z-index: 10
}

.gjss-sz dd.open-ul .xz {
    background-position: 302px -211px
}

.gjss-sz dd ul {
    border: 1px solid #ccc;
    position: absolute;
    width: 328px;
    left: 0;
    top: 34px;
    display: none
}

.gjss-sz dd.open-ul ul {
    display: block
}

.gjss-sz dd li a {
    _width: 302px;
    line-height: 34px;
    padding: 0 13px;
    background: #fff;
    display: block
}

.gjss-sz dd li a:hover {
    background: #f3f3f3
}

.gjss-sz dd li a:active {
    color: #333;
    background: #e5e5e5
}

.gjss-sz dd .dk-btn {
    display: inline-block;
    line-height: 36px;
    float: left;
    padding-left: 20px;
    margin-right: 25px;
    background: url(../images/ico_gjss.png) 0 -137px no-repeat
}

.gjss-sz dd .dk-btn.cur {
    background: url(../images/ico_gjss.png) 0 -175px no-repeat
}

.gjss-sz .enter {
    padding-left: 155px;
    overflow: hidden;
    zoom: 1;
    padding-top: 13px
}

.gjss-sz .enter a,
.gjss-sz .enter input {
    line-height: 33px;
    width: 94px;
    text-align: center;
    margin-right: 10px;
    float: left;
    border-radius: 2px;
    font-size: 15px;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer
}

.gjss-sz .enter .a1 {
    background: #fd6853;
    color: #fff;
    border: 1px solid #fd6853
}

.gjss-sz .enter .a1:hover {
    background: #f25440;
    border: 1px solid #f25440
}

.gjss-sz .enter .a2 {
    color: #fd6853;
    background: #fff;
    border: 1px solid #fd6853
}

.gjss-sz .enter .a2:hover {
    background: #fff7f6
}

.bg-wkq {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background: #fff;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    opacity: .7
}

.gjss-err {
    padding-left: 20px;
    background: url(../images/ico_gjss.png) 0 -263px no-repeat;
    line-height: 20px;
    position: relative;
    z-index: 6;
    margin: 2px 0 6px 20px
}

.gjss-sz dd .input-box {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 11px;
    background: #fff;
    position: relative
}

.gjss-sz dd .input-box input {
    border: 0;
    font-size: 14px;
    height: 22px;
    width: 100%;
    vertical-align: top;
    outline: 0;
    padding: 6px 0;
    line-height: 22px
}

.gjss-sz dd .input-box.hover {
    border: 1px solid #999
}

.gjss-sz dd .input-box.active {
    border: 1px solid #fd6853
}

.gjss-sz dd .input-box.err {
    border: 1px solid #fd6853;
    -moz-box-shadow: 0 0 6px #fcaaa8;
    -webkit-box-shadow: 0 0 6px #fcaaa8;
    box-shadow: 0 0 6px #fcaaa8
}

.gjss-sz dd .input-box .err-word {
    display: none
}

.gjss-sz dd .input-box.err .err-word {
    display: block;
    position: absolute;
    color: #f25440;
    line-height: 36px;
    left: 340px;
    top: 0;
    font-size: 14px;
    width: 300px
}

.gjss-sz dd.open-ul ul {
    display: block
}

.gjss .hf-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    *height: 240px;
    left: 0;
    top: 0;
    background: #eee;
    background: rgba(255, 255, 255, 0.8);
    z-index: 6;
    min-width: 1000px
}

.gjss .hf-def {
    position: absolute;
    z-index: 6;
    font-size: 18px;
    color: #333;
    padding: 0 40px;
    line-height: 30px;
    background: url(../images/ico_gjss2.png) 0 0 no-repeat;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -103px
}

.bg-gj-w {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    *position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity=85);
    -moz-opacity: .85;
    opacity: .85;
    z-index: 3
}